* {
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-image: url(./img/fon5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 80%;
}

h1 {
  font-size: 54px;
  text-align: center;
  color: #8ae1dd;
}

.user-text {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  margin: 20px auto 50px;
  padding: 20px;
  font-size: 18px;
  box-shadow: -3px -3px 5px rgb(63, 63, 63) , 3px 3px 5px  rgb(130 215 215);
  border-radius: 10px;
}

.keyboard{
  width: 80%;
  margin:20px auto 50px;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  align-items: center;
  padding:20px 20px;
  box-shadow: -3px -3px 5px rgb(63, 63, 63) , 3px 3px 5px  rgb(130 215 215);
  border-radius: 10px;
  background-color: rgb(48, 47, 47);
}

.board-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}


.board-button{
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
  margin: 0 5px;
  border: none;
  background-color: transparent;
  color:#8ae1dd;
  box-shadow: -2px -2px 4px rgb(63, 63, 63) , 2px 2px 4px rgb(29, 28, 28);
  border-radius: 5px;
  cursor: pointer;
}

[data-code="Enter"] {
  width: 130px;
}

[data-code="Tab"] {
  width: 90px;
}

[data-code="ShiftLeft"],
[data-code="ShiftRight"] {
  width: 150px;
}

[data-code="ControlLeft"],
[data-code="ControlRight"] {
  width: 115px;
}

[data-code="Backspace"] {
  width: 100px;
}

[data-code="CapsLock"] {
  width: 100px;
}

[data-code="AltLeft"],
[data-code="AltRight"] {
  width: 75px;
}

[data-code="Space"]{
  width: 50%;
  cursor: pointer;
}

